<!DOCTYPE html>
<html lang="en">
  
{% include head.html %}
  
  <body>
    {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}
    {% include header.html %}
    {% include hero.html %}
    <main class="page-content" aria-label="Content">
      <div class="container">
        {{ content }}
        <div class="post-list">
  {% for post in site.posts %}
    <article class="post-item">
      <a href="{{ post.url | relative_url }}">
        <h2>{{ post.title }}</h2>
      </a>
      <p>{{ post.excerpt }}</p>
    </article>
  {% endfor %}
</div>
      </div>
    </main>
    {% include footer.html %}
  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
  </body>
  
</html>
