<!DOCTYPE html>
<html lang="en">
  
{% include head.html %}
  
  <body>
    {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}
    {% include header.html %}
    {% include hero.html %}
    <main class="page-content" aria-label="Content">
      <div class="container">
        {{ content }}
        <div class="post-list">
<!-- begin recent posts -->
<div class="article-grid">
  {% for post in site.posts %}
  <div class="article-item">
    <a href="{{ post.url }}">
      {% if post.image %}
      <img src="{{ post.image }}" alt="{{ post.title }}">
      {% endif %}
      <h3>{{ post.title }}</h3>
      <p>{{ post.excerpt }}</p>
      <span class="read-more">Read More</span>
    </a>
  </div>
  {% endfor %}
</div>
<!-- end recent posts -->
</div>
      </div>
    </main>
    {% include footer.html %}
  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
  </body>
  
</html>
